.content{
	padding-top: 44px !important;
    /* margin-bottom:55px; */
    padding-bottom: 0 !important;
    background-color: #fff !important;
}
.hide {
    display: none !important;
}
.ctpanel {
    padding-bottom: 0px;
    min-height: 300px;
}
/*Side menu css*/
.accountpop{
  position:fixed;
  width:275px;
  left:-275px;
  height:100vh;
  transition: all .2s ease-in-out;
  /* background:rgba(255,2555,255,0.95); */
  z-index:20000;
  box-shadow:0px 0px 5px rgba(0,0,0,0.5);
background-color: #f5f5f5;
  /* background-color: rgba(71,52,39,.9)!important;
  background-image: -webkit-linear-gradient(left top,#4d2605 0,#81450d 19%,#aa5000 46%,#a24f03 53%,#ff7900 86%,#ee7100 100%)!important;

    background-image: linear-gradient(to right bottom,#4d2605 0,#81450d 19%,#aa5000 46%,#a24f03 53%,#ff7900 86%,#ee7100 100%)!important; */
}

.accountpop a {
    display: block;
    vertical-align: middle;
    color: rgba(0,0,0,.87);
    font-size:18px;
    line-height:25px;
	padding: 10px 30px 10px 16px !important;
    border-bottom:1px solid rgba(241,241,241,.3) !important;
    background-color: transparent;
    text-transform: capitalize;
}
.sub-side-menubar {
    border-bottom: 1px solid #e3e3e3;
    display: none;
    background-color:#fff;
    box-shadow: inset 0 0 2px #45290f;
}
.sub-side-menubar a{
	padding: 10px 25px 5px 35px;
    font-size: 14px;
    color: rgba(0,0,0,.87);

}
.sub-side-menubar i{
	margin-right: 10px;
}

.side-menubar i{
	float: right;
    transition: all .4s ease-in-out;
    font-size: 15px;
    line-height: 25px;
   color: rgba(0,0,0,.87);
}

.side-menubar i.icon-lft{float: none;margin-right: 10px;}
.side-menubar.open i.icon-lft{
    transform: rotate(0deg);
}
.side-menubar.open i{
	    transform: rotate(-90deg);
}
.side-menubar .icon{
	font-size:18px;
	margin-right:10px;
}
.side-barmenu .icon{
	font-size:18px;
	margin-right:10px;
}
.side-barmenu .fa-address-card-o{
	float:left;
	margin-right:10px;
	font-size: 15px;
    line-height: 25px;
	color: #fff;
}
.accountpop-top{
	    width: 100%;
    min-height: 50px;
}
.accountpop-top label{
    display: block;
    color: #f0f0f0;
    font-size:19px;
    border-bottom: 1px solid #f0f0f0;
    text-align:center;
    padding: 10px;
    text-transform: capitalize;
    line-height:29px;
}

.accountpop-top img{margin-right:10px;vertical-align: middle;}
/*Side menu css*/

/*Header css starts here*/
.bar-nav {
    top: 0;
}
.bar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    height: 50px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    cursor:pointer;
    border-color: #119f49!important;
    background-color: #119f49!important;
    /* background-image: linear-gradient(0deg,#585858 ,#585858 50%,transparent 50%)!important; */
    color: #fff;
}

.bar .icon.onlyicon {
    font-size: 26px !important;
    font-weight: 600;
    top: 5px !important;
    left: 10px;
}

.bar .btn .icon {
    top: 3px;
    padding: 0;
}

.bar .icon {
    /* position: relative; */
    /* z-index: 20; */
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 19px !important;
    font-weight: 400;
    top: 2px !important;
}


.icon-bars:before {
    content: '\e80e';
}
.bar-nav .btn-link {
    color: #fff !important;
}
/*Header css ends here*/

/*common pages styles*/

.inner-frame{
	padding:3%;
}
.inner-frame h3{
	    padding: 10px 0;
    display: block!important;
	margin-bottom:0;
    line-height: 1.4;
    font-size: 22px;
	color:#777;
	text-align:center;
	}
/*common pages styles*/


/*about organization css*/

.News p, .events p, .text-i {
    color: #8A1603;
}

.about-org {
    list-style-image: url(http://res.cloudinary.com/masterek/image/upload/c_fill,g_auto,dpr_auto,w_auto,q_auto/v1483783951/icon2_mfb1wy.png);
    padding-top: 15px;
    padding-left: 30px;
}
.about-org li {
    font-size: 18px;
    font-weight: 700;
    text-transform:inherit;
}

.text-align-font {
    font-size: 16px;
    padding-left: 2%;
    padding-right: 2%;
}
/*about organization css*/

/*pagination css*/

.button-bgcolor .btn {
    background-color: rgba(192,192,192,.6);
    margin-top: 5px;
}
.btn {
    display: inline-block;
    padding: 6px 9px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.sml-button {
    background-color: #fd8111!important;
    border-color: #fd8111!important;
    color: #fff;
}
/*pagination css*/

/*masters page css*/

.ctpanel-page p{font-size:16px;text-align: justify;color: #111;}

/*masters page css*/

/*Radio page css*/
.ribbon {
    font-size: 16px!important;
    width: 70%;
    position: relative;
    background: #fd8111;
    padding: 1em 0;
    margin: 1em auto 2em;
}

.ribbon, .ribbon-orange {
    text-align: center;
    color: #fff;
}

.non-semantic-protector {
    position: relative;
    z-index: 1;
}

.ribbon:before {
    left: -3em;
    border-right-width: .5em;
    border-left-color: transparent;
}
.ribbon:after, .ribbon:before {
    content: "";
    position: absolute;
    display: block;
    bottom: -.5em;
    border: 3.5em solid rgba(253,115,17,1);
    z-index: -1;
}
.ribbon:before {
    left: -3em;
    border-right-width: .5em;
    border-left-color: transparent;
}
.ribbon:after {
    right: -3em;
    border-left-width: .5em;
    border-right-color: transparent;
}

.progrm-details {
    width: 100%!important;
    height: auto;
    box-shadow: 0 4px 6px 0 #bbb;
    background-color: #faedc5;
    padding: 20px;
    margin: 0 auto;
    font-size: 16px;
}

.progrm-start-date {
    width: 100%;
}

.progrm-start-date h4 {
    color: #bd1c10;
    font-size: 18px;
    font-weight: 700;
}

.progrm-start-date h4 span {
    color: rgba(0,0,0,.87);
    font-size: 16px;
    font-weight: 400;
}

.progrm-end-date {
    width: 100%;
}

.progrm-end-date h4 {
    color: #bd1c10;
    font-size: 18px;
    font-weight: 700;
}

.progrm-end-date h4 span {
    color: rgba(0,0,0,.87);
    font-size: 16px;
    font-weight: 400;
}

.progrm-title {
    margin-bottom: 20px;
}

.progrm-title h4 {
    color: #bd1c10;
    font-size: 18px;
    font-weight: 700;
}

.progrm-title h4 span {
    color: rgba(0,0,0,.87);
    font-size: 16px;
    font-weight: 400;
}

.new-animate {
    -webkit-transition: 775ms cubic-bezier(.25,.25,.75,.75) all;
    -moz-transition: 775ms cubic-bezier(.25,.25,.75,.75) all;
    -ms-transition: 775ms cubic-bezier(.25,.25,.75,.75) all;
    -o-transition: 775ms cubic-bezier(.25,.25,.75,.75) all;
    transition: 775ms cubic-bezier(.25,.25,.75,.75) all;
}

.new-animate, .img-fix {
    position: relative;
}
/*Radio page css*/


/*Centers page css*/

.center-heading, .center-span {
    font-size: larger;
    font-weight: bolder;
    color: Maroon;
}

.center-span {
    margin-top: 30px;
}

.plain-container {
    display: table;
    width: 100%;
}

.center .form-control {
    display: block;
    width: 90%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    margin: auto;
}

.all-centers {
    margin-bottom: 15px;
    color: #bd1c10;
}

button, input, label, select, textarea {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857;
}

.abt-ctr-mg {
    margin-top: 10px;
}


.centers-bg {
    background-color: #fd8111;
    color: #fff;
    display: block;
    padding: 20px 20px 20px 70px;
    text-align: left;
    margin-bottom: 20px;
    padding-left: 24px;
}

.center-details {
    width:100%;
    height:auto;
    box-shadow: 0 4px 6px 0 #bbb;
    background-color: #faedc5;
    padding: 20px;
    margin-bottom: 30px;
    margin:auto;
    font-size: 16px;
}

.centers-left, .centers-right {
    float: none;
    width: 100%;
}

.centers-left {
    font-size: 20px;
}
.all-centers, .center-heading, .centers-email, .centers-left, .centers-right {
    text-align: center;
}

.content-name {
    color: #bd1c10;
}
.center-details label, .content-name, .grid td, .grid th {
    font-weight: 700;
}

.center-address, .centers-email, .content-name, .ext-content, .magazine-grid td {
    word-break: break-all;
}

address, dl {
    margin-bottom: 20px;
}

address, blockquote small, dd, dt {
    line-height: 1.42857;
}
.view-container, address, blockquote small {
    display: block;
}
address, cite {
    font-style: normal;
}
.centers-right {
    font-size: 18px;

}
.centers-email a, .play-icon:hover {
    color: #333;
}



.centers-right a {
    color: #333;
}

.centers-email {
    font-size: 18px;
    padding-left: 45px;
    margin-top: 10px;

}

@media screen and (max-width: 767px){
    .centers-email {
        font-size: 18px;
        padding-left: 0;
    }
}
@media screen and (max-width: 767px){
    .centers-email, .centers-right {
        background-image: none;
    }
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


@media (min-width: 992px){
    .col-md-4 {
        width: 33.33333333%;
    }
}
@media (min-width: 992px){
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left;
    }
}
@media (min-width: 768px){
.col-sm-6 {
    width: 50% !important;
}
}
@media (min-width: 768px){
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: left;
    }
}
/*Centers page css*/

/*News page css*/

.login-mgtp, .mgtp-20 {
    margin-top: 20px;
}

.marginTB30 {
    margin-bottom: 20px;
}
.col-xs-12 {
    width: 100%;
}

.moreInfoContainer {
    position: relative;
    width: 100%;
    float: left;
    overflow: hidden;
    background: #000;
    cursor: pointer;
}

.moreInfo {
    position: absolute;
    bottom: -80%;
    left: 0;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    padding: 3%;
    color: #fff;
    -webkit-transition: all .6s cubic-bezier(.86,0,.07,1);
    transition: all .6s cubic-bezier(.86,0,.07,1);
}
.marginTB30 {
    margin-bottom: 20px;
}

@media screen and (max-width: 992px){
    .moreInfo, .moreInfoContainer:hover .moreInfo {
        bottom: -73%;
        background: rgba(210,105,30,.85);
    }
}
@media screen and (max-width: 768px){
    .moreInfo, .moreInfoContainer:hover .moreInfo {
        bottom: -89%;
    }
}
@media screen and (max-width: 767px){
    .moreInfo, .moreInfoContainer:hover .moreInfo {
        bottom: -89%;
    }
}

@media screen and (max-width: 640px){
    .moreInfo, .moreInfoContainer:hover .moreInfo {
        bottom: -86%;
    }
}

@media screen and (max-width: 600px){
    .moreInfo, .moreInfoContainer:hover .moreInfo {
        bottom: -84%;
    }
}

@media screen and (max-width: 480px){
    .moreInfo, .moreInfoContainer:hover .moreInfo {
        bottom: -76%;
    }
}


@media screen and (max-width: 479px) and (min-width: 359px){
    .moreInfo, .moreInfoContainer:hover .moreInfo {
        bottom: -76%;
    }
}


.moreInfo h2 {
    font-size: 20px;
    border-bottom: 2px solid #ff6a00;
    display: inline-block;
    margin-bottom: 10px;
}
.news-header {
    max-width: 10em;
    overflow: hidden;
    text-overflow: ellipsis!important;
}

.flow, .news-header, .title-header {
    white-space: nowrap;
}

.flow.multiline {
    white-space: normal;
}

.flow {
    overflow: hidden;
    height: 40px;
}

.flow p{color:#fff;}

.col-xs-12 {
    width: 100%;
}
@media (min-width: 768px){
    .col-sm-4 {
        width: 33.33333333%;
    }
}

@media (min-width: 768px){
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: left;
    }
}

.new-inner p{
    font-size: 16px;
    text-align: justify;
    color:#333;
}
.back-icon {margin-bottom:20px;}

.back-icon i{
    float: left;
    font-size: 18px;
    margin-right: 20px;
    color: #fff;
    background-color: #fd8111;
    padding: 5px;
    border-radius: 50%;
}

.back-icon h3{
    padding: 0;
    line-height:1;
}
/*News page css*/


/*Gallery page css*/

.padding {
    padding: 10px;
}

.my-gallery {
    position: relative;
    overflow: hidden;
    box-shadow: 10px 1px 10px 0 #a09c9c;
    margin-top: 30px;
    height: 300px;
    border-radius: 10px;
}

@media screen and (max-width: 767px){
    .my-gallery {
        width: 98%;
        height: auto;
    }

}


.fix-header {
    position: absolute;
    bottom: -88%;
    left: 0;
    background: #fd8111;
    width: 100%;
    height: 100%;
    padding: 2%;
    color: #fff;
    -webkit-transition: all .6s cubic-bezier(.86,0,.07,1);
    transition: all .6s cubic-bezier(.86,0,.07,1);
    font-size: 18px;
}

.image-header {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Gallery page css*/


/*Header css*/

.title a{color:#fff;font-size: 20px;}

/*Header css*/

/*bottom bar css*/
.btn-nav img{vertical-align: middle;}
.radio-play{
    background: url("../img/play.jpg") no-repeat center center;
    width:29px;
    height:24px;
    display:inline-block;
    vertical-align: middle;
    margin-left: 10px;
 }

 .radio-mute{
    background: url("../img/mute.png") no-repeat center center;
    width:29px;
    height:24px;
    display:inline-block;
    vertical-align: middle;
    margin-left: 10px;
 }


 .fedbck-btn{
     vertical-align: middle;
 display: block;
 color: #fff;
 background-color: #fd8000;
 border-color: #fd8000;
 box-shadow: none;
 line-height: 45px;
 font-size: 16px;
}
/*bottom bar css*/

/*Home page main banner*/
.main-banner{margin-top: 7px;}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
.main-banner .carousel-control.left, .main-banner .carousel-control.right {
    background-image: none !important;
    z-index: 10;
}
/*Home page main banner*/

/*home page recent updates*/

.latest-slider {
    margin-bottom: 30px;
}
.latest-slider .slider {
    width: 100%;
    overflow: hidden;
    background-color: #efeff4;
}

.slider .slide-group {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    transition: all 0s linear;
}

.slide {
    padding-bottom: 10px;
}

.slide-width {
    float: left;
    width: 49%;
    margin-right: 3px;
}

.slide .slide-width img {
    height: 200px;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.latest-content-app {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 10px;
    box-shadow: 1px 2px 1px rgba(93, 93, 93, 0.3);
}

.latest-content-app h2 {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
    color: #fe9904;
}
.latest-content-app p{
    color: #959595;
    font-size: 12px;
    margin: 2px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
     overflow: hidden;

}

.sub-header {
    font-weight: 500;
    font-size: 24px;
    padding: 10px;
    color: #e62a04!important;
    text-align:center;
}

/*home page recent updates*/

/*home page add banners*/

.home-add {
    margin: auto;
    text-align: Center;
    position: relative;
    width: 100%;

}

.home-add img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
/*home page add banners*/


/*Lectures page css */

.list {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    margin-bottom: 20px;
    position: relative;
}

.lecture-item {
    border-color: #ddd;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}

.item-divider {
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 30px;
    background-color: #f5f5f5;
    color: #222;
    font-weight: 500;

}

.lecture-item.activated, .ilecture-item.active.lecture-item-complex>.lecture-item-content {
    border-bottom: 1px solid rgba(241,241,241,.3)!important;
    background-color: rgba(253,129,17,.58)!important;
}

/*Lecture page css*/

/*Player page css*/
.play-list {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    margin-bottom: 20px;
    position: relative;
}

.play-item {
    border-color: #ddd;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}
.card {
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    border: none;
}
.card, .list-inset {
    overflow: hidden;
    margin: 20px 10px;
    border-radius: 2px;
    background-color: #fff;
}
.play-list {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    margin-bottom: 20px;
}

.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
    padding-left: 72px;
    min-height: 72px;
}

.item-avatar>img:first-child {
    position: absolute;
    top: 16px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.play-item p {
    color: #666;
    font-size: 14px;
    margin-bottom: 2px;

}

.play-title p {
    line-height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card .play-item {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.play-item.tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
}

.tab-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    max-width: 150px;
    height: 100%;
    color: inherit;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    font-family: "Helvetica Neue",Roboto,"Segoe UI",sans-serif;
    opacity: .7;
}

.tab-item .icon {
    display: block;
    margin: 0 auto;
    height: 32px;
    font-size: 28px;
}

.tab-item:active {
    color: #444444;
}
/*player page css*/

/*Notifications page css*/

.notifications-date h5 {
    color: #fff !important;
    font-size: 18px;
    margin: 0px;
    background-color: rgba(189, 28, 16, 0.66); /*rgba(253, 134, 17, 0.66);*/
    padding: 10px;
    border-radius: 5px;
    /*display: inline-block;*/
}
.notifications-nrf{text-align:center;margin-bottom:20px;}
.notifications-nrf h5 {
    color: #fff !important;
    font-size: 20px;
    margin: 0px;
    background-color: rgba(189, 28, 16, 0.66); /*rgba(253, 134, 17, 0.66);*/
    padding: 10px;
    border-radius: 5px;
    /*display: inline-block;*/
}

.notifications-grid  span {
    color: #066;
    line-height: 30px;
}

.notifications-grid  p {
    margin: 18px 0;
    text-align: left;
}

.notifications-grid  {

    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    /*margin:20px;*/
    margin-top:0;
}


.notifications-inner {
margin-left: 33px !important;
height: 300px;
width: 500px;
padding: 20px;
margin: 10px;
}

.notifications-filter {
padding:0;
width: 100%;
margin: auto;
margin-top: 5px;
/*margin-bottom: 15px;*/
}

.filter1 {
float: left;
margin-right: 10px;
width:48%;
}

.filter2 {
float: left;
width:48%;
}
.notifications-msg{margin-bottom:20px;}

.notifications-details{margin-left:35px;position:relative;}
.notifications-title{font-size:18px;margin-bottom:20px;}
.notifications-viewbtn{position:absolute;bottom:20px;left:185px;}
.notifications-filter .md-errors-spacer{display:none !important;min-height: 0 !important;}
.notifications-card{text-align:left;font-size:17px;}
.n-viewbtn{
color: rgb(33,33,33);
background-color: rgb(250,250,250);
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
padding:5px;
display:inline-block;
font-size:16px;
margin-top:15px;

}
.clear{clear: both;}

.notifications-card {
    margin-top: 15px;
}
/*Notifications page css*/

/*Galleyinner css starts here*/
.gallery-thumb img{
    box-shadow: 6px 6px 10px #bbb;
    margin: 10px;
    width: 90px;
    height: 90px;
    transition: 0.4s ease;
}

.lb-data .lb-details{display: none;}
.lb-data .lb-close{
    position: absolute;
    top:-35px;
    right:10px;
}