

input, select{
  height:34px !important;
  padding: 5px 15px !important;
}

/* .content{
  margin-top: 52px;
  margin-left: 10px;
} */

.acct_pop_new a{
  display: block;
  vertical-align: middle;
  color: rgba(0,0,0,.87);
  font-size: 18px;
  line-height: 25px;
  padding: 10px 30px 10px 16px !important;
  border-bottom: 1px solid rgba(241,241,241,.3) !important;
  background-color: transparent;
  text-transform: capitalize;
}
.acct_pop_new a i{
  padding-right: 10px !important;
  width: 28px;
}
.addcolorp{
  color: #333;
}
.login{
	background: #585858 !important;
    color: #ffffff !important;
	display: flex;
    align-items: center;
    padding: 40px 1rem;
    height: 100%;
	min-height: 100vh;
}
.adding_topspace{
  padding-top: 0px !important;
}

.comm-head{
  font-size: 20px;
  color: #ffff
}

.login-body{

	  width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.signup{
	background: #585858 !important;
    color: #ffffff !important;
	display: flex;
    align-items: center;
    padding: 40px 1rem;
    height: 100%;
	min-height: 100vh;
}

.signup-body{
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.signup-content{
  background: white;
  color: rgba(0, 0, 0, 0.87);
	transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  display: block;
  position: relative;
  padding: 24px;
  border-radius: 2px;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
	margin:0;
	border-top:5px solid #c5cbe9;
}

.login-content{

	background: white;
  color: rgba(0, 0, 0, 0.87);
	transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  display: block;
  position: relative;
  padding: 24px;
  border-radius: 2px;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
	margin:0;
	border-top:5px solid #c5cbe9;
}
.login-logo{
  text-align: center;
  padding: 10px 0 0;
	padding-bottom: 1rem !important;
	margin-top: 0;
}

.login-logo img{
	margin-bottom: .5rem !important;
	max-width:65%;
}

.signin-btn{
	width:100%;
	display:block;
}

.signup-btn{
	width:35%;
	/* display:block; */
}

/*TABLE CSS STARTS HERE*/



.form-gradient .header {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem; }

.form-gradient input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  box-shadow: 0 1px 0 0 #fd9267; }

.form-gradient input[type=text]:focus:not([readonly]) + label {
  color: #4f4f4f; }

.form-gradient textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #fd9267;
    box-shadow: 0 1px 0 0 #fd9267; }


.form-dark .md-form label {
  color: #fff; }

.form-dark input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=text]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #00C851;
    box-shadow: 0 1px 0 0 #00C851;
    color: #fff; }

.form-dark textarea.md-textarea  {
    color: #fff;
}

.form-dark .form-control, .form-dark .form-control:focus {
    color: #fff;
}


/* LOADER CODE START */
.spinner{
  background-color:#42424286;
  cursor: no-drop;
  width:100vw;
  height: 100vh;
  position: fixed;
  z-index: 99999999999;

  }
  .spinner > span {
  border: 11px solid #808080;
  border-top: 11px solid #9f3122;
  border-left: 11px solid #9f3122;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }
/* LOADER CODE END */

/* ALERT MESSAGES START HERE */
.alertMsg{
  width:300px;
  min-height:40px;
  padding:10px 15px;
  text-align: center;
  font-size: 14px;
  position: fixed;
  right:8px;
  bottom:8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #fff!important;
  z-index: 999999;
  border: 1px solid #ffffff83;
}
.alertMsg.sucessMsg{
  background-color: #208322;
}
.alertMsg.InfoMsg{
  background-color: #0e6cc4;
}
.alertMsg.warningMsg{
  background-color: #b3770f;
}
.alertMsg.dangerMsg{
  background-color: #B83226;
}
/* ALERT MESSAGES END HERE */

/* CARD START HERE */
.col-sm-6{
  width: 50%;
  float: left;
  /* padding: 0; */
}
.itemtitle{
  font-size: 18px;
}
/* CARD START HERE */


main {
  padding: 100px 0;
  width: 600px;
  margin: 0 auto;
}

header {
  height: 100px;
  margin-bottom: 50px;
}

h1 {
  float: left;
  margin: 0;
}

h2 {
  margin: 0 0 50px;
}



#itemCount {
  position: absolute;
  display: none;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
  color: white;
  text-align: center;
}

img {
  width: 100%;
}

.item {
  width: 31%;
  float: left;
  margin: 1%;
}

i:hover {
  cursor: pointer;
}

.col-md-6{
  width: 50%;
  float: left;

}
.col-md-4{
  width: 30%;
  float: left;

}
.innercard{
  padding: 10px;
  margin: 0;
}


form {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.value-button {
  display: inline-block;
  /* border: 1px solid #ddd; */
  margin: 0px;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  padding: 2px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 18px;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

form #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inrcurrency{
  text-transform: capitalize;
  margin-top: 18px;
  font-size: 16px;
}

/* NEXT BUTTON */
.next-btn{
    background-color: #337ab7;
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    float: right;
    font-size: 12px;
}
.next-btn a{
  color: #000;
  font-weight: bold;

}

  /* NEXT BUTTON END */

  .signupfrm{
    background-color: #ffa707;
    color: #000;

  }

  .signupcolor{
    text-decoration: underline;
    color: #1c6dae;
  }
  .signupcancel{
    background-color: #ffa707;
    color: #000;
  }

  /* reports page */
.user_reports{
  padding: 10px 20px;
}


/* profile page */

.profile-update{
  padding: 10px 20px;
}

/* .profile-update h3{
  font-size: 26px;
  color:#0cb7a4!important;
  font-weight: bold;
} */

.profile-update-form h5{
  font-size: 18px;
  font-weight: bold;
}

/* profile page */


/* changepassword  page */

.change-password{
  padding: 10px 20px;
}

/* .change-password h3{
  font-size: 26px;
  color:#0cb7a4!important;
  font-weight: bold;
} */

.change-password h5{
  font-size: 18px;
  font-weight: bold;
}

/* changepassword page */



/* COMMUNITY PAGE CSS */
.orderpage_user{
  padding: 10px 20px;
}

.logoutalign{
  margin-top: 40px;
  margin-left: 80%;
}


.icon-background2 {
  color: #119f49;
}



.fa-info {
color:pink;
}

/* test table */

.ui-table {
  border: 0;
  border-collapse: collapse;
  padding: 0;
  width: 100%;
}

.ui-table-reflow td, .ui-table-reflow th {
  text-align: left;
  display: block;
}
.ui-table th {
  font-weight: 700;
}
.ui-table th, .ui-table td {
  line-height: 1.5em;
  text-align: left;
  padding: .4em .5em;
  vertical-align: top;
}
.ui-table-reflow thead td, .ui-table-reflow thead th {
  display: none;
}

.ui-table-reflow td .ui-table-cell-label, .ui-table-reflow th .ui-table-cell-label {
  padding: .4em;
  min-width: 30%;
  display: inline-block;
  margin: -.4em 1em -.4em -.4em;
  width: 120px;
}
.prod-pblock{
  display: inline-block;
}

.newitag{
  vertical-align: -33% !important;
}

@media (max-width: 360px){
  .prod-pblock{
    width:130px;
  }
}

.ui-table-reflow tbody th {
    /* margin-top: 3em; */
    clear: both;
}
.table-stroke tbody th, .table-stroke tbody td {
  border-bottom: 1px solid #e6e6e6;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

@media (min-width: 641px){
.ui-table-reflow.ui-responsive td .ui-table-cell-label, .ui-table-reflow.ui-responsive th .ui-table-cell-label {
    display: none;
}
}
  @media (min-width: 641px){
.ui-table-reflow.ui-responsive td,
 .ui-table-reflow.ui-responsive th,
  .ui-table-reflow.ui-responsive tbody th,
   .ui-table-reflow.ui-responsive tbody td,
    .ui-table-reflow.ui-responsive thead td,
     .ui-table-reflow.ui-responsive thead th {
    display: table-cell;
    margin: 0;
}
  }

  @media (max-width: 640px){
.ui-table-reflow.ui-responsive td, .ui-table-reflow.ui-responsive th {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* float: left; */
    clear: left;
}
.ui-table-reflow tbody tr{
  margin-bottom: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  display: block;
}
.order-cancel{
  text-align: right;
  position: relative;
}
.order-cancel .newitag{
position:absolute;
top:5px;
left:2px;
}
}


#user_order tr:nth-child(odd){ 
  background: #302d2f28;
  }
  
  #user_order tr:nth-child(even){
  background: #faf7fa88;
  }




/* test table */


.alignspan{
  margin-left: 85px;
}

.backarrowalign{
  float: right;
  margin-top: 8px;
}

.list_block{
  margin-bottom: 15px;
  margin-top: 15px;
}



/* issue tracker  */

.issuetracker_user{
  padding: 10px 20px;
}
.center-algin{
  text-align: center;
}

h4{
  font-size: 20px;
  font-weight: bold !important;
}


/* user profile */
.user_profile{
  padding: 10px 20px;
}


/* products page */
.user_products{
  padding: 10px 20px;
}
.backarrow_prod{
  position: absolute;
  left: 20px;
  top: 13px;
  z-index:9;
}

.backarrow_prod .fa-angle-left{
  font-size: 24px;
}

.qty-input{
  float: left;
  width: 65px;
}

.qty-input input{
  width: 65px !important;
  margin-top:1px !important;
  text-align: center;
  border:1px solid #bdbdbd !important;
  height: 29px;
}
.product_name h6{
  margin-bottom: 5px;
}

.product_name h6 span{
  color: #000000;
  font-weight: bold;
}

.mob-products{
  box-shadow: 0 0 4px #b6b6b6;
  padding:5px;
  margin-bottom: 10px;

}
.product_name p{
  margin-bottom: 3px;
  font-size: 12px;
}
.prod_img_size{
  margin-bottom:0 !important;
  height: 24px !important;
  padding: 5px !important;
}

.product-icon{
  float: left;
  color: forestgreen;
}

.product-input{
  float: left;
  width:50%;
  margin: 0 10px;
}

.add-cart{
  display: inline-block;
    border: 1px solid #ff7c00;
    padding: 3px;
    border-radius: 4px;
}

.add-cart p{
  margin-bottom: 0;
    color: #ff7c00;
    font-size: 12px;
    font-weight: 600;
}
.mgt-5{
  margin-top:5px; 
}

/*MENU CART CSS*/

#cart-container {
  position: absolute;
  right:25px;
  top:13px;
  z-index:9;
}

#cart{
  position: relative;
}

#cart-container .fa-cart-plus{
  font-size: 24px;
}

.cart-count{
  position: absolute;
  top: -7px;
  left: 60%;
  width: 20px;
  height: 20px;
  font-size: 11px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  background-color: #f44336;
}


/*Product Details*/

.item-brand{
  background-color: #dbead1;
  border: 1px solid #43a005;
  display: inline-block;
  padding: 2px 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

/* .item-brand p{
  margin: 0;
    font-size: 12px;
    font-weight: bold;
    color: #4c4c4c;
} */

.product-details p{
  margin: 0;
    font-size: 13px;
    color: #333;
}

.product-details p span{
  font-weight: bold;
}
.product-details h6{
  color:#333;
  text-transform: capitalize;
  margin: 5px 0;
}
.product-details h6 span{
font-size:14px;
font-weight:bold;
}
.prod-row-cart{
  margin-top: 5px;
}
.add-cart-btn{
  display: inline-block;
  background: #ff7c00;
  padding: 4px 10px;
  border-radius: 4px;
  float: right;
}
.add-cart-btn p{
  margin-bottom: 0;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}
.prod-info{
  margin-top: 10px;
}
.prod-info h6{
  text-transform: capitalize;
  margin-bottom: 0;
  font-weight: bold;
  margin-bottom: 5px;
}
.prod-info p{
  font-size: 12px;
}
.product-input {
  float: left;
  width: 32%;
  margin: 0 10px;
}
.qty-align{
  float: left;
}
.qty-align p{
  font-weight: bold;
    margin-right: 10px;
    color: #333;
}

.chk-products{
  padding: 5px 5px 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.del-icon-pos{
  position: absolute;
  right: 0;
  z-index: 999;
}
.fa-times-circle{
  font-size: 20px;
    color: #ffa707;
}

.total-amount{
  background: #f5f5f5;
  position: fixed;
  bottom: 0;
  z-index: 10;
  height: 50px;
  padding-right: 10px;
  padding-left: 10px;
  border-top: 1px solid #ddd;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
}



/* dashboard page */

.user_dashboard{
  padding: 10px 20px;
}


/* faq's page */

.faq_user{
  padding: 10px 20px;
}

.faq{
  padding:10px 10px;
  border-bottom: 1px solid #bdbdbd;
}

.showMore {
  font-size: 14px !important;
    display: block !important;
    color: #000;
    cursor: pointer;
    font-weight: bold !important; 
    /* text-transform: lowercase; */
}
.showMore + input {
 display:none;
}
.showMore + input + * {
 color:#888888;
 font-size: 14px;
  max-height: 0;
  /*and eventually delay an overflow:auto; */
  overflow:hidden;
  transition: max-height 0.5s, overflow 0s;
  /* line-height:1.4; */
  padding-top: 5px;
}
.showMore + input:checked + * { 
  /* here comes the compromise, set a max-height that would for your usual contents*/
  max-height: 20em;
  overflow: auto;
  transition: max-height 0.5s, overflow 0.5s 0.5s;
  
}

.main-order{
  margin-top: 20px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
}
.change-bg1 .total-orders{
  background:#ffa707;
}
.change-bg2 .total-orders{
  background:#1d6dac;
}
.change-bg3 .total-orders{
  background:#b62340;
}

.total-orders{
  float: left;
  background: #119f49;
  min-height: 100px;  
  padding: 10px;
  position: relative;
  width:70%;
}
.total-orders p{
  color: #fff;
  /* text-align: center; */
  /* margin-top: 30px; */
  position: absolute;
  right: 20px;
  top: 43px;
}

.order-icon{
  position: absolute;
  left: 15px;
  top: 24px;
}

@media (max-width: 320px){
  .total-orders p{
    right: 7px;
  }

  .order-icon{
    left: 7px;
  }
}

.total-orders img{
  width: 48px;
    margin-right: 10px;
}

.change-bg1 .total-count{
  border-right: 3px solid #ffa707;
}
.change-bg2 .total-count{
  border-right: 3px solid #1d6dac;
}
.change-bg3 .total-count{
  border-right: 3px solid #b62340;
}
.total-count{
  float: left;
  width: 30%;
  background: #eeeeee;
  min-height: 100px; 
  border-right: 3px solid #119f49;
  text-align: center;
}

.total-count span{
  font-size: 30px;
    /* text-align: center; */
    vertical-align: middle;
    line-height: 100px;
}
.user_changepwd{
  padding: 10px 20px;
}

/* .pagestyles {
  padding: 10px 20px;
  margin-top: 40px;
  } */

  .issuesub{
    background-color: #ffa707;
    color: #000;
  }

  .date_width{
    width: 60%;
  }
  .global_uline{
    border-bottom: 1px solid #ddd;
  }
  .img-size-cancel{
    width: 25px;
    float: right;
  }

